.sidebar-layout {
  display: flex;
  min-height: calc(100vh - 3.5rem);
}

.sidebar-layout > div {
  width: 240px;
  border-right: 1px solid rgb(0, 0, 0);
}

.sidebar-layout > main {
  flex-grow: 1;
}
