.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
}

.form {
  border: 2px solid black;
  padding: 2rem 4rem;
  border-radius: 16px;
}

.input-container {
  margin: 2rem 0;
  font-size: 1.25rem;
}

.form input {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  width: 60px;
  margin-right: 1rem;
  color: inherit;
  text-align: center;
}

.radio-group {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 1rem auto;
}

.radio-group > label {
  margin: 0.5rem 0;
  font-size: 1.3rem;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.form > button {
  border-radius: 8px;
  margin-top: 1rem;
  background: none;
  padding: 0.5rem 1rem;
}

.container {
  display: flex;
}

.container > main {
  padding: 1.5rem;
  flex: 1;
}

.container > aside {
  width: 260px;
  border-left: 1px solid black;
  height: 100vh;
  padding: 0.75rem;
  overflow: auto;
}

.card-container {
  display: flex;
  margin: 1rem 0;
}

.fft-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* 
@media (max-width: 1400px) {
  .roadmaps-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 950px) {
  .roadmaps-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .roadmap-card {
    padding: 0.5rem;
  }
} */
