.fft-item {
  /* border: 1px solid; */
  width: 100%;
  border-radius: 12px;
  padding: 1.5rem 0.75rem;
  margin: 1rem 0;
  font-size: 0.95rem;
  color: white;
}

.fft-item:nth-child(1) {
  background-color: #f59e0b;
}

.fft-item:nth-child(2) {
  background-color: #7c3aed;
}

.fft-item:nth-child(3) {
  background-color: #f97316;
}