.log-card {
  margin: 1rem 0;
  padding: 0.75rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(211, 211, 211, 0.807);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.log-left-con {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.log-card img {
  width: 1.4rem;
}
