.log-card {
  margin: 1rem 0;
  padding: 0.75rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.log-left-con {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.log-card img {
  width: 1.4rem;
}
