.primary-nav {
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0);
  font-weight: bold;
}

.primary-nav > a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.primary-nav img {
  width: 2.5rem;
}
